<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <title>报销申请</title>
    <style>
        form
        {
            padding: 100px 30%;
        }
    </style>
    <script>
        function myFunction(){
            alert("提交成功");
        }
    </script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/copyright.css}" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--<nav th:replace="index::header"></nav>-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">《软件工程》-报销OA系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/index}">主页</a></li>
                <li class="active"><a th:href="@{/apply}">报销申请</a></li>
                <li th:if="${user.role!=1}"><a th:href="@{/check}">报销审核</a></li>
                <li th:if="${user==null}"><a th:href="@{/login}">登录</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${user!=null}">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-circle" th:src="${user.headImage}" style="width:30px;" alt="头像"/>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:text="${user.nickname}">用户名</a></li>
                            <li class="divider"></li>
                            <li><a href="#" th:href="@{/logout}">退出</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <form role="form" th:action="@{/apply}" method="post">
        <div class="form-group">
            <label for="input1">主题</label>
            <input type="text" class="form-control" id="input1"name="subject" placeholder="请输入报销单主题">
            <br />
            <label for="input2">内容</label>
            <input type="text" class="form-control" id="input2" name="content" placeholder="请输入报销单内容">
        </div>
        <br />
        <button type="submit" class="btn btn-default" onclick="myFunction()">提交</button>
    </form>
</div>
<div th:replace="/index::foot"></div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>